:root {
    --primary-color: rgb(192, 243, 228);
    --text-color: black;
}

* {
    font-family: "Quicksand", sans-serif;
}

/* .hidden {
    display: none;
} */

body {
    margin: 0;
}

.page-title {
    text-align: center;
    background-color: var(--primary-color);
    margin-top: 0;
    max-width: 100%;
    min-height: 1em;
    padding: 10px;
}

.semester-group {
    width: 100vw;
}

.collapsible-btn {
    cursor: pointer;
    border: none;
    font-size: 16px;
    width: 100%;
    padding: 0.5em;
    text-align: left;
}

.collapsible-btn:hover {
    background-color: var(--primary-color);
}

.collapsible-btn::before {
    content: "+ ";
}

/* need way for this to stay on when toggled */
.collapsible-btn:active::before {
    content: "- ";
    border-style: dashed;
}

.collapsible-content {
    margin-left: 21.4px;
}

a.row-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

a:hover {
    color: var(--primary-color);
}

.toolbar {
    position: sticky;
    bottom: 0;
    background-color: var(--primary-color);
    padding: 10px 16px;
    display: flex;
    justify-content: space-evenly;
}
