html {
    font-family: "Quicksand", sans-serif;
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: aqua;
}

tr[data-href] {
    cursor: pointer;
}

tr[data-href]:hover {
    color:aqua;
}

.toolbar {
    position: sticky;
    bottom: 0;
    background-color: aquamarine;
    padding: 10px 16px;
}